In [1]:
import requests as rq
import pandas as pd
from urllib import parse
import os
import datetime as dt

In [3]:
query = parse.quote('환율')
exchange_result = pd.read_html('https://search.naver.com/search.naver?where=nexearch&sm=top_sly.hst&fbm=1&acr=1&ie=utf8&query=' + query)
print(exchange_result)

[          통화명    매매기준율        전일대비     등락률
0      미국 USD  1195.50  전일대비하락2.00  -0.17%
1  일본 JPY 100  1037.90  전일대비하락2.91  -0.28%
2    유럽연합 EUR  1358.09  전일대비하락4.13  -0.30%
3      중국 CNY   189.04  전일대비상승0.06  +0.03%
4      영국 GBP  1627.25  전일대비하락2.67  -0.16%
5      호주 AUD   860.88  전일대비하락2.34  -0.27%
6     캐나다 CAD   941.19  전일대비하락1.65  -0.18%
7    뉴질랜드 NZD   802.48  전일대비하락1.28  -0.16%]

In [4]:
exchange_result[0]

          통화명    매매기준율        전일대비     등락률
0      미국 USD  1195.50  전일대비하락2.00  -0.17%
1  일본 JPY 100  1037.90  전일대비하락2.91  -0.28%
2    유럽연합 EUR  1358.09  전일대비하락4.13  -0.30%
3      중국 CNY   189.04  전일대비상승0.06  +0.03%
4      영국 GBP  1627.25  전일대비하락2.67  -0.16%
5      호주 AUD   860.88  전일대비하락2.34  -0.27%
6     캐나다 CAD   941.19  전일대비하락1.65  -0.18%
7    뉴질랜드 NZD   802.48  전일대비하락1.28  -0.16%

In [6]:
today = dt.date.today()
print(today.day, today.month, today.year)

20 2 2022

In [9]:
date_name = str(today.year) + '년' + str(today.month) + '월' + str(today.day) + '일'
if os.path.exists(date_name):
    pass
else: os.mkdir(date_name)

In [11]:
os.chdir(date_name)

In [ ]:
exchange_result[0].to_excel(date_name+'환율결과'+