# Create DataFrame

In [1]:
import pandas as pd

In [2]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [6]:
sample_data = [
    ['2020-01-01', 10000],
    ['2020-01-02', 13000],
    ['2020-01-03', 11500]
]

In [7]:
sample_data

[['2020-01-01', 10000], ['2020-01-02', 13000], ['2020-01-03', 11500]]

In [9]:
pd.DataFrame(sample_data, columns=['data', 'price'])

         data  price
0  2020-01-01  10000
1  2020-01-02  13000
2  2020-01-03  11500

In [11]:
sample_data = {
    'date': ['2020-01-01', '2020-01-02', '2020-01-03'],
    'price':[10000, 13000, 11500]
}

In [12]:
pd.DataFrame(sample_data)

         date  price
0  2020-01-01  10000
1  2020-01-02  13000
2  2020-01-03  11500

In [14]:
sample_data = [
    {'date':'2020-01-01', 'price':10000},
    {'date':'2020-01-02', 'price':13000},
    {'date':'2020-01-03', 'price':11500}
]

In [15]:
pd.DataFrame(sample_data)

         date  price
0  2020-01-01  10000
1  2020-01-02  13000
2  2020-01-03  11500

In [16]:
index = ['First', 'Second', 'Third']

In [17]:
pd.DataFrame(sample_data, index=index)

              date  price
First   2020-01-01  10000
Second  2020-01-02  13000
Third   2020-01-03  11500

In [18]:
sample_df = pd.DataFrame(sample_data, index=index)

In [19]:
sample_df.index.values

array(['First', 'Second', 'Third'], dtype=object)

In [20]:
sample_df.columns.values

array(['date', 'price'], dtype=object)

In [21]:
sample_df.columns.values[1]

'price'

In [22]:
sample_df.describe()

         price
count      3.0
mean   11500.0
std     1500.0
min    10000.0
25%    10750.0
50%    11500.0
75%    12250.0
max    13000.0

In [23]:
sample_df['price'].mean()

11500.0

In [24]:
sample_df['price'].min()

10000

In [25]:
sample_df['price'].max()

13000

In [26]:
sample_df['price'].std()

1500.0

In [28]:
sample_df.sort_values(by='price', ascending=False)

              date  price
Second  2020-01-02  13000
Third   2020-01-03  11500
First   2020-01-01  10000