# Yahoo Finance

In [1]:
import yfinance as yf
import pandas as pd
from pandas_datareader import data as pdr
import datetime

In [3]:
pd.core.common.is_list_like = pd.api.types.is_list_like

In [4]:
yf.pdr_override()

### get_data_yahoo()

- code
- start_Date
- end_date

#### code

In [8]:
samsung_code = "005930"+".KS"

In [9]:
print(samsung_code)

005930.KS

#### start_date

In [10]:
start_date = datetime.date(2018, 1, 1)

In [11]:
print(start_date)

2018-01-01

#### end_date

In [12]:
end_date = datetime.date(2019, 12, 31)

In [13]:
print(end_date)

2019-12-31

In [14]:
print(type(end_date))

<class 'datetime.date'>

In [16]:
samsung = pdr.get_data_yahoo(samsung_code, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [17]:
samsung.head()

               Open     High      Low    Close     Adj Close    Volume
Date
2018-01-02  51380.0  51400.0  50780.0  51020.0  45077.804688   8474250
2018-01-03  52540.0  52560.0  51420.0  51620.0  45607.921875  10013500
2018-01-04  52120.0  52180.0  50640.0  51080.0  45130.812500  11695450
2018-01-05  51300.0  52120.0  51200.0  52120.0  46049.691406   9481150
2018-01-08  52400.0  52520.0  51500.0  52020.0  45961.335938   8383650

In [18]:
samsung.tail()

               Open     High      Low    Close     Adj Close    Volume
Date
2019-12-23  56100.0  56400.0  55100.0  55500.0  51772.800781   9839252
2019-12-24  55600.0  55700.0  54800.0  55000.0  51306.382812  11868463
2019-12-26  54700.0  55400.0  54400.0  55400.0  51679.515625   9645034
2019-12-27  55700.0  56900.0  55500.0  56500.0  53044.597656  12313056
2019-12-30  56200.0  56600.0  55700.0  55800.0  52387.402344   8356767

In [21]:
samsung['Volume($)']      samsung['Adj Close'] * samsung['Volume']

Date
2018-01-02    3.820006e+11
2018-01-03    4.566949e+11
2018-01-04    5.278252e+11
2018-01-05    4.366040e+11
2018-01-08    3.853238e+11
                  ...
2019-12-23    5.094056e+11
2019-12-24    6.089279e+11
2019-12-26    4.984507e+11
2019-12-27    6.531411e+11
2019-12-30    4.377893e+11
Length: 490, dtype: float64

Date
2018-01-02     8474250
2018-01-03    10013500
2018-01-04    11695450
2018-01-05     9481150
2018-01-08     8383650
                ...
2019-12-23     9839252
2019-12-24    11868463
2019-12-26     9645034
2019-12-27    12313056
2019-12-30     8356767
Name: Volume, Length: 490, dtype: int64