# 리스트
새로운 데이터 형태를 배워보아요

In [1]:
변수1 = 3
변수2 = 4
변수3 = '안녕하세요'

# 한 번에 묶을 수는 없을까?
너무 많은 데이터를 '한번'에 묶을 수 있는 데이터 형태

In [7]:
리스트 = [3, 4, '안녕하세요']
print(type(리스트))
print(리스트)

<class 'list'>
[3, 4, '안녕하세요']

# 온갖 것들이 다 들어간다!
마치 도라에몽 주머니같은 리스트 데이터 형태

In [8]:
리스트1 = [1, 2, 3]
print(리스트1)

[1, 2, 3]

In [9]:
리스트2 = [2.5, 3, '나는 리스트 요소이다']
print(리스트2)

[2.5, 3, '나는 리스트 요소이다']

In [10]:
# 리스트 = [요소, 요소, 요소, ...] element
리스트3 = [[1, 2], 3.4, '리', '스', '트는 멋있어', [3.4, 5.6, 8]]
print(리스트3)

[[1, 2], 3.4, '리', '스', '트는 멋있어', [3.4, 5.6, 8]]

# 리스트의 각 요소를 꺼내오기
문자열에 접근하는 것 기억나시죠?

In [11]:
# 리스트1[0]
print(리스트1[0])
print(type(리스트1[0]))

1
<class 'int'>

In [12]:
print(리스트2[0])
print(type(리스트2[0]))

2.5
<class 'float'>

In [14]:
나만의리스트 = 리스트3[0]
print(나만의리스트)
덧셈결과 = 나만의리스트[0] + 나만의리스트[1]
print(덧셈결과)

[1, 2]
3

# 리스트 안의 리스트 접근하기

In [15]:
리스트3 = [[1, 2], 3.4, '리', '스', '트는 멋있어', [3.4, 5.6, 8]]
리스트3[0] # [1,2]

[1, 2]

In [16]:
print(리스트3[0][0])
print('리스트 안의 리스트의 1번째 값 >>', type(리스트3[0][0]))

1
리스트 안의 리스트의 1번째 값 >> <class 'int'>

# 리스트에도 메소드가 있어요
문자열에서 배웠던 특수한 기능. 기억나시죠?

# list.append()
이미 생성된 데이터 리스트에 데이터 끼워넣기

In [24]:
과일 = ['사과', '바나나', '파인애플']
과일.append('오렌지')
print(과일)

['사과', '바나나', '파인애플', '오렌지']

In [25]:
과일2 = ['키위', '딸기']
과일.append(과일2)
print(과일)

['사과', '바나나', '파인애플', '오렌지', ['키위', '딸기']]

# list.pop()
'몇번째'를 빼고 싶은지 말하고 싶을 때

In [26]:
print(과일)

['사과', '바나나', '파인애플', '오렌지', ['키위', '딸기']]

In [27]:
과일.pop(2)
print(과일)

['사과', '바나나', '오렌지', ['키위', '딸기']]

In [28]:
과일.pop(0)
print(과일)

['바나나', '오렌지', ['키위', '딸기']]

# list.remove()
'무엇'을 빼고 싶은지 말하고 싶을 때

In [29]:
print(과일)

['바나나', '오렌지', ['키위', '딸기']]

In [30]:
과일.remove('바나나')
print(과일)

['오렌지', ['키위', '딸기']]

# list.clear()
전부 없애는 거

In [31]:
과일.clear()
print(과일)

[]

# list.count()
특정 요소가 몇 개 있는지를 세기

In [32]:
숫자모음 = [1, 1, 1, 2, 3, 4, 4, 5, 6, 7, 2, 2, 2, 2, 2, 2, 22, 23, 22, 33, 44, 11, 12, 23]
print('1의 갯수는 >>', 숫자모음.count(1), '개 입니다.')
print('22의 갯수는 >>', 숫자모음.count(22), '개 입니다.')

1의 갯수는 >> 3 개 입니다.
22의 갯수는 >> 2 개 입니다.

# 보너스

In [34]:
list_1 = [1, 2, 3, 4]
print(list_1)
print(list_1[0], list_1[3])
list_1[0] = '안녕하세요'
list_1[3] = '감사합니다'

print(list_1)

[1, 2, 3, 4]
1 4
['안녕하세요', 2, 3, '감사합니다']

# 튜플
튜플을 만드는 2가지 방법

In [35]:
# 리스트와 비슷하다
my_tuple = ("사과", "바나나", '파인애플')
print(my_tuple)
print(type(my_tuple))

('사과', '바나나', '파인애플')
<class 'tuple'>

In [38]:
my_tuple2 = ('튜플',)
print(my_tuple2)
print(type(my_tuple2))
# , 지우면 그냥 문자열로 인식

('튜플',)
<class 'tuple'>

In [39]:
# 그냥 쉼표로 만들 수도 있다.
a = 3, 4, 5
print(type(a))

<class 'tuple'>

In [40]:
a = 1
b = 3
print(type((a, b)))

<class 'tuple'>

In [41]:
my_tuple3 = ((1, 2), (3, 4), 5)
print(my_tuple3[0])
print(my_tuple3[0][0])

(1, 2)
1

리스트와 어떻게 다를까요

In [45]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

print(my_list[3:5])
print(my_tuple[3:5])
print(my_list[0])
print(my_tuple[0])

[4, 5]
(4, 5)
1
1

In [46]:
my_list[0] = '리스트 첫번째 요소'
print(my_list)

['리스트 첫번째 요소', 2, 3, 4, 5]

In [47]:
# my_tuple[0] = '튜플 첫번째 요소' 바뀌지 않음

TypeError: 'tuple' object does not support item assignment

# 튜플 매서드

In [48]:
짝수 = (2, 2, 4, 6, 8, 6, 6, 14, 16, 18, 20)
print('2의 갯수는 >>', 짝수.count(2))

2의 갯수는 >> 2

In [49]:
print(짝수.index(2))
print(짝수.index(18))
print('18이라는 숫자는', 짝수.index(18)+1, '번째에 있습니다.')

0
9
18이라는 숫자는 10 번째에 있습니다.

# 셋
중복을 허용하지 않고, 순서도 없는 형태

In [51]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [52]:
# 중복된 값을 넣어보자
my_set2 = {2, 2, 3, 4, 4}
print(my_set2)
print(type(my_set2))

{2, 3, 4}
<class 'set'>

In [54]:
print(my_set[0])
print(my_set2[0])

TypeError: 'set' object is not subscriptable

In [55]:
my_list = [1, 2, 3, 4, 4, 4, 4]
set(my_list) # 리스트를 셋으로 만들어보자
# 중복된 값 삭제됨

{1, 2, 3, 4}

# 셋 메서드

# Set.add()
요소를 추가해서 넣고 싶을 때

In [57]:
# 매우 기본적인 더하기
회사 = {'삼성전자', 'SK하이닉스', '이마트', '스타벅스',  '테슬라'}
회사.add('삼성SDI')
print(회사)
회사.add('LG화학')
print(회사)

{'스타벅스', 'SK하이닉스', '삼성SDI', '삼성전자', '테슬라', '이마트'}
{'스타벅스', 'SK하이닉스', '삼성SDI', '삼성전자', '테슬라', 'LG화학', '이마트'}

# Set.difference(x)
Set에만 고유하게 있는 것들을 가져오고 싶을 때 = x와 다른 값을 따로 불러오고 싶을 때

In [58]:
회사1 = {'삼성전자', 'SK하이닉스', '이마트'}
회사2 = {'삼성전자', '한국거래소', '현대자동차'}
회사1.difference(회사2)

{'SK하이닉스', '이마트'}

# Set.discard(x)
x라는 요소를 삭제하고 싶을 떼

In [59]:
회사1 = {'삼성전자', 'SK하이닉스', '이마트'}
회사1.discard('삼성전자')
회사1

{'SK하이닉스', '이마트'}

# Set.clear()
Set에 있는 데이터를 비우고 싶을 때

In [61]:
회사1 = {'삼성전자', 'SK하이닉스', '이마트'}
print(회사1)
회사1.clear()
print(회사1)

{'삼성전자', 'SK하이닉스', '이마트'}
set()

# 딕셔너리, 공부 시작!
키와 값이 하나의 쌍인 요소를 추가해서 만듭니다.

In [62]:
과일상자 = {'사과':3, '바나나':4, '키위':5}
print(과일상자)
print(type(과일상자))

{'사과': 3, '바나나': 4, '키위': 5}
<class 'dict'>

# 셋(set)과는 다르다!

In [63]:
셋_과일상자 = {'사과', '바나나', '키위'}
print('딕셔너리 :', 과일상자)
print('셋 :', 셋_과일상자)

딕셔너리 : {'사과': 3, '바나나': 4, '키위': 5}
셋 : {'사과', '키위', '바나나'}

# 딕셔너리 요소 접근하기

# 키와 값
딕셔너리[키]->값을 돌려준다.

In [64]:
사과_갯수 = 과일상자['사과']
print(사과_갯수)

3

In [65]:
과일상자['사과'] = 40
print(과일상자) # 사과키에 대한 값이 변경됨

{'사과': 40, '바나나': 4, '키위': 5}

# 요소 삭제하기

In [66]:
del 과일상자['사과']
print(과일상자) # 사과 키에 대한 키값이 전부 사라진다

{'바나나': 4, '키위': 5}

# 딕셔너리 메서드

# 키만 가져오기
딕셔너리.keys()

In [68]:
print(과일상자.keys())
kk = 과일상자.keys()
print(type(kk))
list(kk)

dict_keys(['바나나', '키위'])
<class 'dict_keys'>

['바나나', '키위']

# 값만 가져오기

In [69]:
list(과일상자.values())

[4, 5]

# 키, 값 쌍으로 가져오기

In [70]:
a = list(과일상자.items())
print(a)

[('바나나', 4), ('키위', 5)]

# 요소를 새로 추가하기

In [71]:
과일상자.update({'파인애플' : 4})
과일상자

{'바나나': 4, '키위': 5, '파인애플': 4}

# 요소 빼기

In [72]:
과일상자.pop('파인애플')
과일상자

{'바나나': 4, '키위': 5}