In [4]:
import requests
from bs4 import BeautifulSoup

code = '005930'
url = 'http://companyinfo.stock.naver.com/company/c1010001.aspx?cmp_cd' + code

r = requests.get(url)
soup = BeautifulSoup(r.text, 'lxml')
td = soup.find('td', {'class':'cmp-table-cell td0101'})
print(td)

<td class="cmp-table-cell td0101">
<dl>
<dt>
<span class="name">삼성전자</span>
<a class="cEm" href="http://www.samsung.com" target="comPage" title="[홈페이지] www.samsung.com"><img align="absmiddle" hspace="3" src="/images/icon_home.gif"/></a>
[주식담당] 02-2255-9000"><img align="absmiddle" hspace="1" src="/images/icon_tel.gif"/></a>
<b class="num">005930</b>
</dt>
<dt class="line-left">SamsungElec</dt>
<dt class="line-left">KOSPI : 전기전자</dt>
<dt class="line-left">WICS : 반도체와반도체장비</dt>
</dl>
</td>

In [5]:
td.find('span', {'class':'name'}).text

'삼성전자'

In [10]:
goal = td.find_all('dt', {'class':'line-left'})
for i in range(3):
    print(goal[i].text)

SamsungElec
KOSPI : 전기전자
WICS : 반도체와반도체장비

In [18]:
import pandas as pd
from urllib import parse

code = '환율조회'
encoded = parse.quote(code)
url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=' + encoded
dfs = pd.read_html(url)

In [20]:
type(dfs)

list

In [25]:
dfs[0]

          통화명    매매기준율        전일대비     등락률
0      미국 USD  1195.50  전일대비하락2.00  -0.17%
1  일본 JPY 100  1037.90  전일대비하락2.91  -0.28%
2    유럽연합 EUR  1358.92  전일대비하락3.30  -0.24%
3      중국 CNY   188.77  전일대비하락0.21  -0.11%
4      영국 GBP  1627.43  전일대비하락2.49  -0.15%
5      호주 AUD   861.72  전일대비하락1.50  -0.17%
6     캐나다 CAD   941.89  전일대비하락0.95  -0.10%
7    뉴질랜드 NZD   802.42  전일대비하락1.34  -0.17%

In [26]:
dfs[0].to_excel('my_escel.xlsx')

In [28]:
a = pd.read_excel('my_escel.xlsx')
a['통화명']

0        미국 USD
1    일본 JPY 100
2      유럽연합 EUR
3        중국 CNY
4        영국 GBP
5        호주 AUD
6       캐나다 CAD
7      뉴질랜드 NZD
Name: 통화명, dtype: object